/* RESET Part */
*{
      margin: 0;
      padding: 0;
}

ul{
      list-style-type: none;
}

/*main-navi1 클래스 Part*/

#header{
      display: flex;
      flex-direction: column;
      align-items: center;
}

.main-navi1, .main-left, .left-list, .main-right, .right-list{
      display: flex;
      /* justify-content: center; */
}

.left-list li, .main-logo, .right-list li {
      cursor: pointer;
}

.main-left, .main-logo, .main-right{
      margin: 0 100px;
}

.main-left, .main-right{
      align-items: center;
}

.main-right{
      white-space: nowrap;
}

.left-list li{
      margin: 0 2px;
}

.left-list li:nth-child(4){
      margin: 0 30px;
}

.right-list li{
      box-sizing: border-box;
      padding: 0 10px;
      font-size: 0.5rem;
}

.bg-icon{
      display: none;
      cursor: pointer;
}

.menu_bg{
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.7);
      position: absolute;
      top:0;
      display: none;
  }

.sidebar_menu{
      display: none;
      width: 50%;
      height: 100%;
      background: white;
      position: absolute;
      top:0;
      right: -50%;
}

.close_btn{
      width: 25px;
      height: 25px;
      margin:10px;
  }
  .close_btn > a{
      display: block;
      width: 100%;
      height: 100%;
  }

.menu_wrap{
     list-style: none;
     padding: 20px 20px;   
}

.menu_wrap li{
     color: black;
     cursor: pointer;
     margin: 10px 5px;
     line-height: 40px;
}

.sub_main > hr{
      border: 1px solid lightgray;
}

.sub_contents{
      display: none;
      cursor: pointer;
}

.active{
      display: block;
}


/*main-navi2 클래스 Part*/
#main-nav2 { 
      width: 100%; 
      margin-bottom: 15px;
}

#main-nav2:after {
       content: ""; 
       display: block; 
       clear: both; 
} 

.main-menu-list { 
      margin: 0 30px; 
      margin-top: 20px;
      /* white-space: nowrap; */
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
}

.main-menu-list > li {
       position: relative; 
       width: 185px; 
       height: 30px; 
       box-sizing: border-box; 
       line-height: 30px; 
       text-align: center;  
} 

.main-menu-list > li {
       display: block; 
       transition: all 0.3s; 
} 

.main-menu-list > li:hover, .menu_wrap >li:hover {
       /* background: #009688;  */
       color: red; 
       cursor: pointer;
} 
.sub { 
      display: none; 
      position: absolute; 
      box-sizing: border-box;
      margin-top: 15px;
      top: 30px; 
      left: 0; 
      z-index: 1; 
      line-height: 50px;
      width: 100%; 
      background: white;  
      color: black;
}

.sub li:hover{
      text-decoration: underline;
      cursor: pointer;
}


/*main Part*/

.main-picture{
      width: 100%;
      height: 800px;
      background: url("images/hero.jpg") center no-repeat;
      background-size: cover;
}


/*Media Query*/

@media screen and (max-width : 1050px){
      #company-menu{
            display: none;
      }

      .main-picture{
            height: 500px;
      }
}


@media screen and (max-width : 800px){
      #second-nav, .main-right>ul, .left-list li:nth-child(4){
            display: none;
      }

      .bg-icon{
            display: block;
      }

      .main-picture{
            height: 300px;
      }
      
}




